@import './modules/variables.scss';


%greyboxheadline {
    font-size: $fontsize34;
    font-family: 'Poppins Bold', 'BPG Nino Mtavruli Bold';
    color: $color01-blck;
    text-transform: uppercase;
}

%personal-pg-headline {
    font-family: 'Poppins Bold', 'BPG Nino Mtavruli Bold';
    font-size: $fontsize40;
    color: $color01-blck;
}