// Font Size Variables

$fontsize12 : 12px;
$fontsize14 : 14px;
$fontsize16 : 16px;
$fontsize18 : 18px;
$fontsize20 : 20px;
$fontsize22 : 22px;
$fontsize24 : 24px;
$fontsize25 : 25px;
$fontsize26 : 26px;
$fontsize30 : 30px;
$fontsize34 : 34px;
$fontsize36 : 36px;
$fontsize40 : 40px;


// Color Variables 

$color01-blck : #040F16;
$color02-wht : #FBFBFF;
$color03-white2 : #EFEFF6;
$color04 : #707070;
$color05 : #040F16;
$color06 : #1E272E;
